@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&family=Karantina&family=Poppins:wght@300&display=swap');

.Header h1 {
    font-family: 'Cabin', sans-serif;
    font-family: 'Karantina', cursive;
    font-family: 'Poppins', sans-serif;
}
.Header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
