.Login>form {
    width: 350px;
}

.Login>h2 {
    text-align: center;
}

.Login input,
.Login button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.Login span {
    color: red;
    /* margin: 0 20px; */
    /* position: absolute; */
    /* Will stay exactly where it is. */
}